$main-color:            #f7ba2c;
$secondary-color:       #ea5459;
$font-color:            #f1faee;
$background-color:      #141313; 
$background-light:      #252525;
$main-gradient:           linear-gradient($main-color 0%, $secondary-color 100%);
